/*csslint ids: false, box-model: false, universal-selector: false, box-sizing: false, zero-units: false, unique-headings: false, known-properties: false, empty-rules: false,   */


/*UNIVERSAL SELECTOR*/

* {
    box-sizing: border-box;
}


/************************************************************
GENERAL
*************************************************************/

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.main-header {
    background: linear-gradient(#ffa949, transparent 90%), linear-gradient(0deg, #fff, transparent), #ffa949 url('../img/mountains.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-image: url('../img/mountains.jpg');*/
    /* background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
    height: 850px;
    padding-top: 170px;
}

.main-header,
.title {
    text-align: center;
}

.title {
    /* To change the font-size froom px to em, Do this simple equation.
Whatever the desired pixel is / 16.
26px/16px = 
*/
    border-bottom: 2px solid;
    color: white;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: .065em;
    padding-bottom: 10px;
}

.primary-content {
    padding-bottom: 95px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    padding-bottom: 70px;
    padding-top: 80px;
}

.primary-content,
.secondary-content {
    margin: auto;
    max-width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    width: 75%;
}

.t-border {
    border-top: 2px solid lightgrey;
}

ul li {
    margin-bottom: 5px;
}

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

.arrow {
    margin-top: 150px;
    width: 50px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.wildlife {
    /* padding-top: 100px;
    padding-right: 120px;
    padding-bottom: 100px;
    padding-left: 120px;*/
    /*two values first is for top and bottom. 2nd is for left and right.*/
    /*border-width: 10px 20px;
    border-style: solid;
    border-color: #ffa949;*/
    /* When 3 values . First  one is the top. Second  one is left and right.  Third one is bottom.*/
    background-image: url('../img/bear.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    border-top: 10px solid #ffa949;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    margin: 105px 0 60px;
    padding: 18% 24%;
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

#main-footer {
    border-bottom: solid 10px orange;
    padding-bottom: 60px;
    padding-top: 60px;
}

p {
    font-size: 20px;
}


/************************************************************
HEADLINE ELEMENTS & P ELEMENTS
*************************************************************/

h1 {
    /*90px/16px*/
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    margin: 12px 0 0;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    /*26px/53px*/
    margin-bottom: .5em;
    text-decoration: underline;
}

h3 {
    font-size: 20px;
    /*34px/20px*/
    margin-bottom: 1.7em
}

p {}


/************************************************************
FLOATED COLUMNS
*************************************************************/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right;
}

.group:after {
    clear: both;
    content: "";
    display: table;
}


/************************************************************
COLORS
*************************************************************/

body {
    color: #878787;
}

.title {
    color: white;
}

.main-header {
    background-color: #ffa949;
}

.wildlife {
    background-color: #434a52;
    color: white;
}

ul li {
    color: white;
}

h1 {
    color: white;
}

h3 {
    color: #4852c;
}


/*CSS PSEUDO CLASS*/

a:link {
    color: #ffa949;
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: coral;
}

a:focus {
    color: white background-color: orange;
}